.nav{
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: minmax(85px , 200px);
    grid-template-areas: 'img menu''common common';
    align-items: inherit;
}

.nav .menu{
    background-color: darkseagreen;
    grid-area: menu;
}
.nav .menu .dropdown {
    visibility: hidden;
}

.nav img {
    width: 70px;
    grid-area: img;
}
.nav .common {
    background-color: whitesmoke;
    padding-top: 5px;
    width: 200px;
    grid-area: common;
}

@media (max-width: 414px) {
    .nav {
        grid-template-areas: 'menu menu';
    }
    .nav img {
        display: none;
    }
    .nav .menu{
        height: 70px;
        background-color: whitesmoke;
    }
    .nav .menu .dropdown {
        visibility: initial;
    }
    .nav .common{
       display: none;
    }
}

.item a{
    color: black;
    text-decoration: none;
}

.item a.active {
    background-color: darkseagreen;
}