.app-wrapper {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
'nav header'
'nav content ';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px minmax(120px,10fr);
}
.app-wrapper-nav {
    grid-area: nav;
}

@media (max-width: 414px){
    .app-wrapper {
        grid-template-areas: 'nav header' 'content content';
        grid-template-columns: 85px minmax(120px,10fr);
    }
}

.app-wrapper-content {
    padding-top: 5px;
    grid-area: content;
    background-color: lightgrey;
}